<style type="text/css">
	.photoview{
		width: 100%;
		height: auto;
		display: block;
		position: relative;
		background-color:#ffffff;
		margin: 10px;
		padding:10px 10px 20px 10px;
		text-align: center;
		font-size:20px;
		box-shadow:.2em .2em .8em #130c0e; 
	}
	.photoview p{
		margin-top:10px;  
	}
</style>

<div class="am-g am-g-fixed blog-fixed">
	<div class="am-u-md-12 am-u-sm-12">		
		<div class="photoview" >
			<img src="<%- config.root %>img/01.jpg" data-action="zoom">
			<p>完美的星空</p>
			<p>不新鲜的萝卜皮</p>
		</div>

		<div class="photoview" >
			<img src="<%- config.root %>img/03.jpg" data-action="zoom">
			<p>完美的星空</p>
			<p>不新鲜的萝卜皮</p>
		</div>

		<div class="photoview" >
			<img src="<%- config.root %>img/02.jpg" data-action="zoom">
			<p>完美的星空</p>
			<p>不新鲜的萝卜皮</p>
		</div>

		<div class="photoview" >
			<img src="<%- config.root %>img/08.jpg" data-action="zoom">
			<p>完美的星空</p>
			<p>不新鲜的萝卜皮</p>
		</div>

		<div class="photoview" >
			<img src="<%- config.root %>img/09.jpg" data-action="zoom">
			<p>完美的星空</p>
			<p>不新鲜的萝卜皮</p>
		</div>

		<div class="photoview" >
			<img src="<%- config.root %>img/21.jpg" data-action="zoom">
			<p>完美的星空</p>
			<p>不新鲜的萝卜皮</p>
		</div>		
	</div>
</div>

<script type="text/javascript" src="<%- config.root %>js/zooming.js"></script>